# deps
node_modules/
.pnpm-store/

# build
dist/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
.dev.vars

# editor
.vscode/
.idea/
.DS_Store
*.swp

# test
coverage/
.nyc_output/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.cache/
tmp/
